name: OUR Publish

on:
  schedule:
    - cron: "0 0 * * 1,4"
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/our.yml"
      - ".github/workflows/reusable-build.yml"
      - "configs/**"
      - "packages.yaml"

jobs:
  generate-matrix:
    runs-on: ubuntu-latest
    container: archlinux:latest
    outputs:
      packages: ${{ steps.set_matrix.outputs.packages }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        run: |
          pacman -Syu --noconfirm --overwrite '*'
          pacman -S --noconfirm --overwrite '*' python-pyyaml

      - name: Generate package list
        id: set_matrix
        run: |
          PACKAGE_LIST=$(python3 scripts/list-tasks.py packages.yaml --lto)

          if [[ "$PACKAGE_LIST" == "[]" ]]; then
            echo "::notice::No LTO packages found in the package list'. Workflow will end gracefully."
          else
            echo "Discovered packages: $PACKAGE_LIST"
          fi
          echo "packages=$PACKAGE_LIST" >> $GITHUB_OUTPUT

  generate-matrix-no-lto:
    runs-on: ubuntu-latest
    container: archlinux:latest
    outputs:
      packages: ${{ steps.set_matrix.outputs.packages }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        run: |
          pacman -Syu --noconfirm --overwrite '*'
          pacman -S --noconfirm --overwrite '*' python-pyyaml

      - name: Generate package list
        id: set_matrix
        run: |
          PACKAGE_LIST=$(python3 scripts/list-tasks.py packages.yaml --no-lto)

          if [[ "$PACKAGE_LIST" == "[]" ]]; then
            echo "::notice::No non-LTO packages found in the package list'. Workflow will end gracefully."
          else
            echo "Discovered packages: $PACKAGE_LIST"
          fi
          echo "packages=$PACKAGE_LIST" >> $GITHUB_OUTPUT

  build:
    needs: generate-matrix
    if: ${{ needs.generate-matrix.outputs.packages != '[]' }}
    strategy:
      fail-fast: false
      matrix:
        package: ${{ fromJson(needs.generate-matrix.outputs.packages) }}
    uses: ./.github/workflows/reusable-build.yml
    permissions:
      contents: write
    with:
      package: ${{ matrix.package.name }}
      dependencies: ${{ matrix.package.dependencies }}
      exclude: ${{ matrix.package.exclude }}
      base: ${{ matrix.package.base }}
      custom-env: ${{ matrix.package.env }}
      lto: true
    secrets: inherit

  build-no-lto:
    needs: generate-matrix-no-lto
    if: ${{ needs.generate-matrix-no-lto.outputs.packages != '[]' }}
    strategy:
      fail-fast: false
      matrix:
        package: ${{ fromJson(needs.generate-matrix-no-lto.outputs.packages) }}
    uses: ./.github/workflows/reusable-build.yml
    permissions:
      contents: write
    with:
      package: ${{ matrix.package.name }}
      dependencies: ${{ matrix.package.dependencies }}
      exclude: ${{ matrix.package.exclude }}
      base: ${{ matrix.package.base }}
      custom-env: ${{ matrix.package.env }}
      lto: false
    secrets: inherit

  #####################################################################
  # FINAL STAGE: Aggregate all packages, build repo, and publish.
  #####################################################################
  publish:
    name: Publish to Pages
    needs: # This transitively depends on all previous stages
      - build
      - build-no-lto
    # 使用 always() 来强制运行此条件判定
    # if: >-
    #   always() && (
    #     (needs.build.result == 'success' && needs.build-no-lto.result == 'skipped') ||
    #     (needs.build.result == 'skipped' && needs.build-no-lto.result == 'success') ||
    #     (needs.build.result == 'success' && needs.build-no-lto.result == 'success')
    #   )
    # 不管构建成功多少失败多少, 总是发布
    if: always()
    runs-on: ubuntu-latest
    container: "archlinux:latest"
    permissions:
      contents: write
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_SEC_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
      
      - name: Download all built packages
        uses: actions/download-artifact@v4
        with:
          path: x86_64
          merge-multiple: true

      - name: Install dependencies
        run: |
          pacman -Syu python python-pip python-zstandard nodejs npm pacman-contrib --noconfirm --overwrite '*'

      - name: Display downloaded files
        run: |
          echo "--- All built packages ---"
          ls -R x86_64

      - name: Remove duplicate packages
        run: paccache -r -k 1 -c x86_64

      - name: Generate repository database
        env:
          GPG_SIG_KEY: ${{ secrets.GPG_SIG_KEY }}
        run: bash scripts/repo-add.sh our

      - name: Generate package index page
        run: python scripts/packages.py

      - name: Install npm dependencies
        run: npm install && npm ci

      - name: Build website
        run: npm run build
        env:
          NODE_ENV: production

      - name: Prepare deployment
        run: |
          # Copy packages data and x86_64 directory to build output
          cp packages.json build/
          cp -r x86_64 build/

      - name: Setup GitHub Pages
        uses: actions/configure-pages@v5

      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # path: "."
          path: "build"

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
