# File: .github/workflows/reusable-build.yml
name: Reusable AUR Build

on:
  workflow_call:
    inputs:
      package:
        description: The package to build
        required: true
        type: string
      lto:
        description: Enable LTO
        default: true
        type: boolean
      gpg-sign:
        description: Use GPG sign
        default: true
        type: boolean
      clean-build:
        description: Launch a clean build
        default: false
        type: boolean
    secrets:
      GPG_SEC_KEY:
        required: true
      GPG_PASSPHRASE:
        required: true
      GPG_SIG_KEY:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # 清理磁盘空间
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: false
          swap-storage: true

      - name: Build in Arch Linux Container
        # 使用 run 直接调用 Docker
        run: |
          docker run --privileged --rm \
            -v "${{ github.workspace }}:/work" \
            -w /work \
            -e CI=1 \
            -e INPUT_LTO="${{ inputs.lto }}" \
            -e INPUT_CLEAN_BUILD="${{ inputs.clean-build }}" \
            archlinux:latest \
            /bin/bash -c "chmod +x scripts/entrypoint.sh && ./scripts/entrypoint.sh ${{ inputs.package }}"

      - name: Import GPG key
        if: ${{ inputs.gpg-sign }}
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_SEC_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}

      - name: GPG Sign Packages
        env:
          GPG_SIG_KEY: ${{ secrets.GPG_SIG_KEY }}
        if: ${{ inputs.gpg-sign }}
        run: |
          for pkg in *.zst; do
            echo "signing $pkg..."
            gpg --local-user $GPG_SIG_KEY --detach-sign "$pkg"
          done

          echo "Every package is signed"

      - name: Upload built package
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.package }} # 使用包名作为构件名，更清晰
          path: |
            *.zst*
