name: Test Build

on:
  workflow_dispatch:
    inputs:
      package:
        description: AUR package to test build
        required: true
        type: string
      dependencies:
        description: Extra dependencies to install
        required: false
        type: string
        default: ""
      exclude:
        description: Packages to exclude from artifacts
        required: false
        type: string
        default: ""
      base:
        description: Base AUR package to build from
        required: false
        type: string
        default: ""
      lto:
        description: Enable LTO
        default: true
        type: boolean
      gpg-sign:
        description: Use GPG sign
        default: false
        type: boolean
      clean-build:
        description: Build without any extra config
        default: false
        type: boolean
      custom-env:
        description: Custom environment variables (one per line, KEY=VALUE format)
        required: false
        type: string
        default: ""

jobs:
  test-build:
    uses: ./.github/workflows/reusable-build.yml
    with:
      package: ${{ inputs.package }}
      dependencies: ${{ inputs.dependencies }}
      exclude: ${{ inputs.exclude }}
      base: ${{ inputs.base }}
      lto: ${{ inputs.lto }}
      gpg-sign: ${{ inputs.gpg-sign }}
      clean-build: ${{ inputs.clean-build }}
      custom-env: ${{ inputs.custom-env }}
    secrets: inherit
